$background-game: #f8f6f3;
$background-cell: #e5ded6;
$background-cell--2: #f9f6f2;
$background-cell--4: #f1ebe4;
$background-cell--8: #e7d7c8;
$background-cell--16: #dbc2ae;
$background-cell--32: #cfb09c;
$background-cell--64: #c39e8a;
$background-cell--128: #b5a57c;
$background-cell--256: #a8996e;
$background-cell--512: #9a8d60;
$background-cell--1024: #8d8254;
$background-cell--2048: #807748;
$cell-text: #3f302b;
$score-text: #3f302b;
$game-field: #dcd3c8;
$game-name-background: #deb887;
$game-name-text: #4c392c;
$info-text: #6b5c54;
$info-background: #f0e9e2;
$start-text: #fff;
$start-background: #51a174;
$start-background-hover: #88d7ab;
$restart-background: #e66565;
$restart-background-hover: #f19494;
$bottom-message-background: #ece2d9;
$bottom-message-tex: #4a3b34;
$message-win-background: #e2d2c3;
$message-win-text: #3b2f2a;
$game-hint-background: #8688ba;
$game-hint-background-hover: #b7b8e9;
$game-hint-body: #1e262f;
$cell-side: 65px;
$cell-side-l: 100px;
$gap: 5px;
$gap-l: 15px;
